@charset "utf-8";
/* CSS Document */
body{
	font-family:Arial;
	background:#999999;
	margin:0px;
	background:url(../images/mainbg.jpg);
}
#maindiv{
	width:100%;
	height:auto;
	background:url(../images/midbg.jpg) no-repeat;
}
	#pageholder{
		width:1024px;
		height:auto;
	}
		#banner{
			width:1024px;
			height:204px;
		}
			#topbanner{
				width:1024px;
				height:93px;
			}
				#t_banner_left{
					width:762px;
					height:93px;
					float:left;
				}
					#t_banner_top{
						width:762px;
						height:20px;
						background:url(../images/top_banner.jpg) no-repeat left;
					}
					#t_banner_mid1{
						width:762px;
						height:73px;
						background:url(../images/banner_mid1.jpg) no-repeat left;
					}
				#t_banner_right{
					width:262px;
					height:93px;
					float:left;
				}
					#t_banner_nav{
						width:262px;
						height:20px;
						background:url(../images/banner_nav.jpg) repeat-x left;
					}
						#navcontainer{
							padding-left:5px;
						}
							#divider{
								background:url(../images/nav_divider.jpg) no-repeat left;
								width:4px;
								height:20px;
								float:left;
							}
							#nav_cont{
								float:left;
								padding-right:4px;
								padding-left:4px;
								padding-top:2px;
							}
								a.main_nav{
									font-size:11px;
									color:#4c4c4c;
									text-decoration:none;
									font-weight:bold;
								}
								a.main_nav:hover{
									font-size:11px;
									color:#4c4c4c;
									text-decoration:none;
									font-weight:bold;
								}
								a.main_nav:visited{
									font-size:11px;
									color:#4c4c4c;
									text-decoration:none;
									font-weight:bold;
								}
					#t_banner_consult{
						width:262px;
						height:73px;
						background-color:#fcfcfc;
					}
		#midbanner{
			width:1024px;
			height:11px;
			background:url(../images/banner_middle.jpg) no-repeat left;
		}
		#lowerbanner{
			width:1024px;
			height:100px;
		}
			#lower_banner_left{
				width:762px;
				height:100px;
				float:left;
			}
				#mid_left_lower{
					background:url(../images/mid_lower_banner.jpg) no-repeat left;
					width:762px;
					height:58px;
				}
				#left_lower{
					background:url(../images/lower_banner.jpg) no-repeat left;
					width:762px;
					height:42px;
				}
			#lower_banner_right{
				width:262px;
				height:100px;
				float:left;
				background:#FcFcFc;
			}
				#mid_right_lower{
					width:262px;
					height:58px;
				}
					#addressholder{
						padding-top:10px;
						font-size:12px;
						color:#000000;
					}
				#right_lower{
					width:262px;
					height:42px;
					background:#D7D7D7;
					color:#540000;
					font-weight:bold;
					font-size:14px;
				}
		#body_mid{
			width:1024px;
			height:auto;
		}
			#freespace{
				background-color:#FFFFFF;
				width:1024px;
				height:22px;
				color:#ae0000;
				font-size:14px;
				font-weight:bold;
			}
				#f_s_textholder{
					padding-top:5px;
					padding-left:16px;
				}
			#mid_content_container{
				background-color:#FFFFFF;
				width:1024px;
				height:627px;
			}
				#left_nav{
					float:left;
					width:213px;
					height:627px;
					background:url(../images/left_bottom.jpg) no-repeat bottom #fcfcfc;
				}
					#left_nav_top{
						width:213px;
						height:12px;
						background:url(../images/left_top.jpg) no-repeat;
					}
					#left_nav_main{
						width:213px;
						height:316px;
						background:url(../images/left_mid.jpg) repeat-y;
					}
					#left_nav_holder{
						padding-top:15px;
					}
						a.linktitles{
							font-size:18px;
							font-weight:bold;
							color:#000000;
							padding-top:5px;
							padding-bottom:5px;
							text-decoration:none;
						}
						a.linktitles:hover{
							font-size:18px;
							font-weight:bold;
							color:#000000;
							padding-top:5px;
							padding-bottom:5px;
							text-decoration:none;
						}
						a.linktitles:visited{
							font-size:18px;
							font-weight:bold;
							color:#000000;
							padding-top:5px;
							padding-bottom:5px;
							text-decoration:none;
						}
						a.leftnav{
							font-size:12px;
							color:#000000;
							text-decoration:none;
						}
						a.leftnav:hover{
							font-size:12px;
							color:#000000;
							text-decoration:none;
						}
						a.leftnav:visited{
							font-size:12px;
							color:#000000;
							text-decoration:none;
						}
				#content{
					float:left;
					width:540px;
					height:627px;
					background-color:#FFFFFF;
				}
					#content_container{
						width:514px;
						height:auto;
					}
						h1.titles{
							font-size:15px;
							color:#000000;
							font-weight:bold;
						}
						#contentdivider{
							width:514px;
							background:url(../images/titledivider.jpg) no-repeat left;
							height:7px;
						}
						#main_content{
							font-size:12px;
						}
							.subtitles{
								font-size:12px;
								font-weight:bold;
							}
							#h1sub{
								background:url(../images/dottedh1.jpg) no-repeat;
								width:514px;
								height:5px;
							}
							#goo_holder{
								width:514px;
								margin-right:20px;
							}
								#goo_widge_map{
									width:179px;
									height:166px;
									float:left;
								}
								#goo_widge_dir{
									margin-left:20px;
									margin-right:10px;
									width:290px;
									height:160px;
									float:left;
									overflow:hidden;
								}
									#goo_widge_dir, a, a:visited, a:hover{
										color:#FFFFFF;
									}
				#right_nav{
					float:left;
					width:271px;
					height:627px;
					background:url(../images/rightnav.jpg) repeat-y;
				}
					#right_nav_holder{
						background:url(../images/right_mid.jpg);
					}	
					#right_titles{
						height:18px;
						background:#f4f4f4;
						font-weight:bold;
						font-size:12px;
						color:#000000;
						margin-left:5px;
					}
					#fieldholder{
						width:230px;
						height:22px;
						background-color:#444243;
						padding:2px;
					}
						.formfields{
							border:none;
							background-color:#D7D7D7;
							width:230px;
							height:20px;
							color:#000000;
						}
					#fieldholder2{
						width:230px;
						height:102px;
						background-color:#444243;
						padding:2px;
					}
						.formfields2{
							border:none;
							background-color:#D7D7D7;
							width:230px;
							height:100px;
							color:#FFFFFF;
						}
					/*540000*/
					.formbuttons{
						width:92px;
						height:24px;
						background:url(../images/backgroundbutton.jpg);
						border:none;
					}
					.formtables{
						font-size:12px;
						color:#540000;
					}

		#bottom_freespace{
			width:1024px;
			height:12px;
			background:url(../images/bot_freespace.jpg);
		}
		#footer{
			width:1024px;
			height:119px;
			background:url(../images/footerbg.jpg) repeat-x;
		}
		/*9f6410 540000*/
			#footer_left{
				float:left;
				width:283px;
				height:119px;
			}
				#foot_left_holder{
					padding-top:30px;
					padding-left:20px;
				}
					.foot_larger{
						font-size:24px;
						color:#FFFFFF;
						font-weight:bold;
					}
					.foot_smaller_left{
						font-size:14px;
						color:#ffffff;
						font-weight:bold;
					}
					.foot_smaller_right{
						font-size:14px;
						color:#9f6410;
						font-weight:bold;
					}
			#footer_right{
				float:left;
				width:741px;
				height:119px;
			}
				#foot_right_holder{
					padding-top:30px;
					padding-left:10px;
					color:#540000;
					font-size:10px;
				}
					a.footlinks{
						color:#540000;
						text-decoration: none;
					}
