
.jumbotron{
    min-height: 330px;
    background: url(../gallery/wedding/Wedd_03.jpg) no-repeat center 22%;
    background-size: cover;
}

.jumbotron .container{
    background: #fff;
    opacity: 0.65;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}

.navbar-brand img{width: 350px;}

.container h2{text-align: center!important}

.container .button{
    text-align: center;
    margin-bottom: 3em;
}

.img-responsive{margin-left: auto!important; margin-right:auto!important;}

.container button{margin: 0.25em 0;}

.row{margin-top: 1em;}

.lightbox-content{width: 100%!important; height: auto!important}

form input.field{ width: 16em!important;}


@media (max-width: 360px){
    .navbar-brand img{width: 200px;}
}

@media (min-width: 361px) and (max-width: 460px){
    .navbar-brand img{width: 250px;}
}

@media (min-width: 460px){
    .container h2{
        margin-top: 1.5em!important;
    }
}

@media (min-width: 768px) and (max-width: 992px){
    .jumbotron{background-position: center 12%;}
}

@media (max-width: 992px){
    .panel{
        border: 0px solid transparent!important;
        box-shadow: 0px 0px 0px!important;
        -webkit-box-shadow: 0px 0px 0px!important;
    }
}
